# -*- mode: snippet; eval: (setq require-final-newline t) -*-
# name: clog
# key: clog
# --
$this->log = \Nordita\Norweb\Utility\ConsoleLogger::createLogger(basename(__FILE__), \Monolog\Logger::DEBUG);