/autosave/
/config.el
/elpa*/
/eshell/
/ido.last
/auto-save-list/
/projectile-bookmarks.eld
/recentf
/helm-doc.org
/url/
/tramp
/vimish-fold
/.cask
/semanticdb
ac-comphist.dat
my-password.el.gpg
.hl-save
/layouts
projectile.cache
/transient
/.lsp-session-*
