# -*- mode: snippet; eval: (setq require-final-newline nil) -*-
# name: Angular Component ngOnDestroy
# key: ondestroy
# --
private unsubscribe$ = new Subject<void>();
ngOnDestroy() {
  this.unsubscribe$.next();
  this.unsubscribe$.complete();
}