# -*- mode: snippet -*-
# name: AngularJS Service
# key: ngs
# --
/**
 *
 */

import ngModule from ''

/**
 *
 */
class ${2:`(s-upper-camel-case (file-name-nondirectory (file-name-sans-extension (buffer-file-name))))`}() {

}

export default ngModule => ngModule.service('${1:`(file-name-nondirectory (file-name-sans-extension (buffer-file-name)))`}', $2)