# -*- mode: snippet -*-
# name: suitemixin
# key: suitemixin
# --
function SuiteMixinFactory(TestSuiteMixin) {

  function SuiteMixin() {
  }

  SuiteMixin.prototype = Object.create(TestSuiteMixin.prototype);
  SuiteMixin.prototype.constructor = SuiteMixin;

  SuiteMixin.prototype.createScope = function () {
  };

  return SuiteMixin;
}
